<div style="padding: 1rem">
  <div class="p-grid ui-fluid" style="padding:1rem;">
    <div class="p-col-6" style="padding:0;">
      <h1>Planes Anuales</h1>
    </div>
    <div class="p-col-6 group-right" style="padding:0;">
      <a href="" class="layout-config-button" style="color: green;"><i class="pi pi-plus-circle"></i></a>
      <a href="" class="layout-config-button"><i class="pi pi-search"></i></a>
    </div>
  </div>

<hr>

  <div class="p-grid" style="padding: 1rem">

    <div class="p-col-12 p-md-6 p-lg-3  ui-fluid" >
      <p-card header="2020"  styleClass="ui-card-shadow">
        <hr>
        <div class="p-field p-grid margen">
          <label for="estado" class="p-col-fixed" style="width:100px">Estado:</label>
          <div class="p-col" style="text-align:right">
            <label for="estado" class="p-col-fixed" style="width:100px">Vigente</label>
          </div>
        </div>
        <div class="p-field p-grid margen">
          <label for="iniciativas" class="p-col-fixed" style="width:100px">Iniciativas:</label>
          <div class="p-col" style="text-align:right">
            <label for="estado" class="p-col-fixed" style="width:100px">15</label>
          </div>
        </div>
        <div class="p-field p-grid margen">
          <label for="actividades" class="p-col-fixed" style="width:100px">Actividades</label>
          <div class="p-col" style="text-align:right">
            <label for="estado" class="p-col-fixed" style="width:100px">48</label>
          </div>
        </div>
        <div class="margen" style="padding:0;">
          <a href="" class="layout-config-button" style="color: black;"><i class="pi pi-eye"></i></a>
          <a href="" class="layout-config-button" style="color: black;"><i class="pi pi-pencil"></i></a>
        </div>
      </p-card>
    </div>

    <div class="p-col-12 p-md-6 p-lg-3  ui-fluid" >
      <p-card header="2020"  styleClass="ui-card-shadow">
        <hr>
        <div class="p-field p-grid margen">
          <label for="estado" class="p-col-fixed" style="width:100px">Estado:</label>
          <div class="p-col" style="text-align:right">
            <label for="estado" class="p-col-fixed" style="width:100px">Vigente</label>
          </div>
        </div>
        <div class="p-field p-grid margen">
          <label for="iniciativas" class="p-col-fixed" style="width:100px">Iniciativas:</label>
          <div class="p-col" style="text-align:right">
            <label for="estado" class="p-col-fixed" style="width:100px">15</label>
          </div>
        </div>
        <div class="p-field p-grid margen">
          <label for="actividades" class="p-col-fixed" style="width:100px">Actividades</label>
          <div class="p-col" style="text-align:right">
            <label for="estado" class="p-col-fixed" style="width:100px">48</label>
          </div>
        </div>
        <div class="margen" style="padding:0;">
          <a href="" class="layout-config-button" style="color: black;"><i class="pi pi-eye"></i></a>
          <a href="" class="layout-config-button" style="color: black;"><i class="pi pi-pencil"></i></a>
        </div>
      </p-card>
    </div>

    <div class="p-col-12 p-md-6 p-lg-3  ui-fluid" >
      <p-card header="2020"  styleClass="ui-card-shadow">
        <hr>
        <div class="p-field p-grid margen">
          <label for="estado" class="p-col-fixed" style="width:100px">Estado:</label>
          <div class="p-col" style="text-align:right">
            <label for="estado" class="p-col-fixed" style="width:100px">Vigente</label>
          </div>
        </div>
        <div class="p-field p-grid margen">
          <label for="iniciativas" class="p-col-fixed" style="width:100px">Iniciativas:</label>
          <div class="p-col" style="text-align:right">
            <label for="estado" class="p-col-fixed" style="width:100px">15</label>
          </div>
        </div>
        <div class="p-field p-grid margen">
          <label for="actividades" class="p-col-fixed" style="width:100px">Actividades</label>
          <div class="p-col" style="text-align:right">
            <label for="estado" class="p-col-fixed" style="width:100px">48</label>
          </div>
        </div>
        <div class="margen" style="padding:0;">
          <a href="" class="layout-config-button" style="color: black;"><i class="pi pi-eye"></i></a>
          <a href="" class="layout-config-button" style="color: black;"><i class="pi pi-pencil"></i></a>
        </div>
      </p-card>
    </div>

    <div class="p-col-12 p-md-6 p-lg-3  ui-fluid" >
      <p-card header="2020"  styleClass="ui-card-shadow">
        <hr>
        <div class="p-field p-grid margen">
          <label for="estado" class="p-col-fixed" style="width:100px">Estado:</label>
          <div class="p-col" style="text-align:right">
            <label for="estado" class="p-col-fixed" style="width:100px">Vigente</label>
          </div>
        </div>
        <div class="p-field p-grid margen">
          <label for="iniciativas" class="p-col-fixed" style="width:100px">Iniciativas:</label>
          <div class="p-col" style="text-align:right">
            <label for="estado" class="p-col-fixed" style="width:100px">15</label>
          </div>
        </div>
        <div class="p-field p-grid margen">
          <label for="actividades" class="p-col-fixed" style="width:100px">Actividades</label>
          <div class="p-col" style="text-align:right">
            <label for="estado" class="p-col-fixed" style="width:100px">48</label>
          </div>
        </div>
        <div class="margen" style="padding:0;">
          <a href="" class="layout-config-button" style="color: black;"><i class="pi pi-eye"></i></a>
          <a href="" class="layout-config-button" style="color: black;"><i class="pi pi-pencil"></i></a>
        </div>
      </p-card>
    </div>

    <div class="p-col-12 p-md-6 p-lg-3  ui-fluid" >
      <p-card header="2020"  styleClass="ui-card-shadow">
        <hr>
        <div class="p-field p-grid margen">
          <label for="estado" class="p-col-fixed" style="width:100px">Estado:</label>
          <div class="p-col" style="text-align:right">
            <label for="estado" class="p-col-fixed" style="width:100px">Vigente</label>
          </div>
        </div>
        <div class="p-field p-grid margen">
          <label for="iniciativas" class="p-col-fixed" style="width:100px">Iniciativas:</label>
          <div class="p-col" style="text-align:right">
            <label for="estado" class="p-col-fixed" style="width:100px">15</label>
          </div>
        </div>
        <div class="p-field p-grid margen">
          <label for="actividades" class="p-col-fixed" style="width:100px">Actividades</label>
          <div class="p-col" style="text-align:right">
            <label for="estado" class="p-col-fixed" style="width:100px">48</label>
          </div>
        </div>
        <div class="margen" style="padding:0;">
          <a href="" class="layout-config-button" style="color: black;"><i class="pi pi-eye"></i></a>
          <a href="" class="layout-config-button" style="color: black;"><i class="pi pi-pencil"></i></a>
        </div>
      </p-card>
    </div>

    <div class="p-col-12 p-md-6 p-lg-3  ui-fluid" >
      <p-card header="2020"  styleClass="ui-card-shadow">
        <hr>
        <div class="p-field p-grid margen">
          <label for="estado" class="p-col-fixed" style="width:100px">Estado:</label>
          <div class="p-col" style="text-align:right">
            <label for="estado" class="p-col-fixed" style="width:100px">Vigente</label>
          </div>
        </div>
        <div class="p-field p-grid margen">
          <label for="iniciativas" class="p-col-fixed" style="width:100px">Iniciativas:</label>
          <div class="p-col" style="text-align:right">
            <label for="estado" class="p-col-fixed" style="width:100px">15</label>
          </div>
        </div>
        <div class="p-field p-grid margen">
          <label for="actividades" class="p-col-fixed" style="width:100px">Actividades</label>
          <div class="p-col" style="text-align:right">
            <label for="estado" class="p-col-fixed" style="width:100px">48</label>
          </div>
        </div>
        <div class="margen" style="padding:0;">
          <a href="" class="layout-config-button" style="color: black;"><i class="pi pi-eye"></i></a>
          <a href="" class="layout-config-button" style="color: black;"><i class="pi pi-pencil"></i></a>
        </div>
      </p-card>
    </div>

    <div class="p-col-12 p-md-6 p-lg-3  ui-fluid" >
      <p-card header="2020"  styleClass="ui-card-shadow">
        <hr>
        <div class="p-field p-grid margen">
          <label for="estado" class="p-col-fixed" style="width:100px">Estado:</label>
          <div class="p-col" style="text-align:right">
            <label for="estado" class="p-col-fixed" style="width:100px">Vigente</label>
          </div>
        </div>
        <div class="p-field p-grid margen">
          <label for="iniciativas" class="p-col-fixed" style="width:100px">Iniciativas:</label>
          <div class="p-col" style="text-align:right">
            <label for="estado" class="p-col-fixed" style="width:100px">15</label>
          </div>
        </div>
        <div class="p-field p-grid margen">
          <label for="actividades" class="p-col-fixed" style="width:100px">Actividades</label>
          <div class="p-col" style="text-align:right">
            <label for="estado" class="p-col-fixed" style="width:100px">48</label>
          </div>
        </div>
        <div class="margen" style="padding:0;">
          <a href="" class="layout-config-button" style="color: black;"><i class="pi pi-eye"></i></a>
          <a href="" class="layout-config-button" style="color: black;"><i class="pi pi-pencil"></i></a>
        </div>
      </p-card>
    </div>

    <div class="p-col-12 p-md-6 p-lg-3  ui-fluid" >
      <p-card header="2020"  styleClass="ui-card-shadow">
        <hr>
        <div class="p-field p-grid margen">
          <label for="estado" class="p-col-fixed" style="width:100px">Estado:</label>
          <div class="p-col" style="text-align:right">
            <label for="estado" class="p-col-fixed" style="width:100px">Vigente</label>
          </div>
        </div>
        <div class="p-field p-grid margen">
          <label for="iniciativas" class="p-col-fixed" style="width:100px">Iniciativas:</label>
          <div class="p-col" style="text-align:right">
            <label for="estado" class="p-col-fixed" style="width:100px">15</label>
          </div>
        </div>
        <div class="p-field p-grid margen">
          <label for="actividades" class="p-col-fixed" style="width:100px">Actividades</label>
          <div class="p-col" style="text-align:right">
            <label for="estado" class="p-col-fixed" style="width:100px">48</label>
          </div>
        </div>
        <div class="margen" style="padding:0;">
          <a href="" class="layout-config-button" style="color: black;"><i class="pi pi-eye"></i></a>
          <a href="" class="layout-config-button" style="color: black;"><i class="pi pi-pencil"></i></a>
        </div>
      </p-card>
    </div>

    <div class="p-col-12 p-md-6 p-lg-3  ui-fluid" >
      <p-card header="2020"  styleClass="ui-card-shadow">
        <hr>
        <div class="p-field p-grid margen">
          <label for="estado" class="p-col-fixed" style="width:100px">Estado:</label>
          <div class="p-col" style="text-align:right">
            <label for="estado" class="p-col-fixed" style="width:100px">Vigente</label>
          </div>
        </div>
        <div class="p-field p-grid margen">
          <label for="iniciativas" class="p-col-fixed" style="width:100px">Iniciativas:</label>
          <div class="p-col" style="text-align:right">
            <label for="estado" class="p-col-fixed" style="width:100px">15</label>
          </div>
        </div>
        <div class="p-field p-grid margen">
          <label for="actividades" class="p-col-fixed" style="width:100px">Actividades</label>
          <div class="p-col" style="text-align:right">
            <label for="estado" class="p-col-fixed" style="width:100px">48</label>
          </div>
        </div>
        <div class="margen" style="padding:0;">
          <a href="" class="layout-config-button" style="color: black;"><i class="pi pi-eye"></i></a>
          <a href="" class="layout-config-button" style="color: black;"><i class="pi pi-pencil"></i></a>
        </div>
      </p-card>
    </div>
    
</div>


</div>
