<div style="padding: 1rem" >
  <div class="p-grid ui-fluid" style="padding:1rem;">
    <div class="p-col-8" style="padding:0;">
      <h1>Usuario</h1>
    </div>
    <div class="p-col-4 group-right" style="padding:0;">
      <a [routerLink]="['/crearUsuario']" class="layout-config-button" style="color: #008100; cursor: pointer"><i class="fa fa-plus-circle "></i></a>
      <a (click)="showDialog()" class="layout-config-button" style="color: #3E59AB; cursor: pointer"><i class="fa fa-search"></i></a>
    </div>
  </div>

  <hr>

  <div class="p-grid" style="padding: 1rem">
    <div class="p-col-12 p-md-4 p-lg-4  ui-fluid" *ngFor="let usuario of usuarios" >
      <p-card [header]="usuario.nombre"  styleClass="ui-card" [style]="{height: '100%'}">
        <hr>
        <div class="p-field p-grid margen">
          <label  class="p-col-12">Unidad Organizativa:</label>
          <div class="p-col" style="text-align:right">
            <label class="p-col-12">{{usuario.unidad}}</label>
          </div>
        </div>
        <div class="p-field p-grid margen">
          <label  class="p-col-12">Cargo:</label>
          <div class="p-col" style="text-align:right">
            <label class="p-col-12">{{usuario.cargo}}</label>
          </div>
        </div>
        <div class="p-field p-grid margen">
          <label class="p-col-12">Correo: </label>
          <div class="p-col-12" style="text-align:right">
            <label class="p-col-12 break-words">{{usuario.correo}}</label>
          </div>
        </div>
        <div class="p-field p-grid margen">
          <label class="p-col-12">Estado</label>
          <div class="p-col-12" style="text-align:right">
            <label class="p-col-12">{{usuario.estado}}</label>
          </div>
        </div>
        <div class="margen" style="padding:0;">
          <a [routerLink]="['/verUsuario', usuario.id]" class="layout-config-button" style="color: #3E59AB;"><i class="fa fa-eye"></i></a>
        </div>
      </p-card>
    </div>
  </div>

  <p-dialog header="Filtrar Usuarios" [(visible)]="display" [modal]="true">
    <div class="p-field p-grid">
      <label class="p-col-12">Unidad Organizativa: </label>
      <div class="p-col">
        <p-dropdown appendTo="body"  [options]="unidadOrg" [(ngModel)]="unidad" (onChange)="cambioPuestos(unidad)"></p-dropdown>
      </div>
    </div>
    <div class="p-field p-grid">
      <label class="p-col-12">Cargo: </label>
      <div class="p-col">
        <p-dropdown appendTo="body"  [options]="cargos" [(ngModel)]="cargo" ></p-dropdown>
      </div>
    </div>
    <div class="p-field p-grid">
      <label class="p-col-12">Estado</label>
      <div class="p-col-6">
        <p-inputSwitch [(ngModel)]="estado"></p-inputSwitch>
      </div>
    </div>
    <div class="p-field p-grid">
      <div class="p-col">
        <button pButton type="button" label="Filtrar" (click)="closeDialog()" ></button>
      </div>
    </div>
  </p-dialog>


</div>
