<div style="padding: 1rem">
  <div class="p-grid ui-fluid" style="padding:1rem;">
    <div class="p-col-6" style="padding:0;">
      <h1>Plan Estratégico 2020-2024</h1>
    </div>
    <div class="p-col-6 group-right" style="padding:0;">
      <a class="layout-config-button" style="color: #008100;" *ngIf="disabled"><i class="fa fa-pencil-square" (click)="disabled=false"></i></a>
      <a class="layout-config-button" style="color: #B90B00;" (click)="showDialogEliminar()"><i class="fa fa-trash"></i></a>
    </div>
  </div>

  <hr>

  <div class="p-grid p-justify-center" style="padding-top:1rem;padding-bottom: 1rem">
    <app-tabmenu-plan-estrategico></app-tabmenu-plan-estrategico>
  </div>

  <div class="p-grid p-justify-center">
    <div class="p-col-11">
      <h2 *ngIf="disabled">Detalle de Iniciativa</h2>
      <h2 *ngIf="!disabled">Editar Iniciativa</h2>
    </div>
    <div class="p-col-11 p-md-11 p-lg-8 ui-fluid">
      <p-card header="Datos"  styleClass="ui-card-shadow">
        <hr>
        <div class="p-field p-grid">
          <label class="p-col-12">Perspectiva:</label>
          <div class="p-col-12">
            <p-dropdown inputId="perspectiva" [options]="perspectivas" optionLabel="nombre" [(ngModel)]="iniciativa.persp" [disabled]="disabled" [style]="{display:'block'}"></p-dropdown>
          </div>
        </div>
        <div class="p-field p-grid">
          <label class="p-col-12">Objetivo Estratégico:</label>
          <div class="p-col-12">
            <p-dropdown inputId="objetivo" [options]="objetivos" optionLabel="objetivo" [(ngModel)]="iniciativa.objetivo" [disabled]="disabled" [style]="{display:'block'}"></p-dropdown>
          </div>
        </div>
        <div class="p-field p-grid">
          <label class="p-col-12">Unidad Líder:</label>
          <div class="p-col-12">
            <p-dropdown inputId="unidad" [options]="unidades" optionLabel="nombre" [(ngModel)]="iniciativa.lider" [disabled]="disabled" [style]="{display:'block'}"></p-dropdown>
          </div>
        </div>
        <div class="p-field p-grid">
          <label for="iniciativa" class="p-col-12">Iniciativa:</label>
          <div class="p-col-12">
            <textarea id="iniciativa" type="text" rows="5" pInputTextarea class="ui-inputtext ui-corner-all ui-state-default ui-widget" [(ngModel)]="iniciativa.iniciativa" [disabled]="disabled"></textarea>
          </div>
        </div>
        <div class="p-field p-grid">
          <label class="p-col-12">Codigo:</label>
          <div class="p-col-12">
            <p-inputNumber st name="codigo" mode="decimal" [showButtons]="false" [min]="0" class="ui-inputnumber ui-corner-all ui-state-default ui-widget" [(ngModel)]="iniciativa.codigo" [disabled]="disabled"></p-inputNumber>
          </div>
        </div>
      </p-card>
    </div>
    <div class="p-col-11 p-md-11 p-lg-3 ui-fluid">
      <p-card header="Progresión Gradual"  styleClass="ui-card-shadow">
        <hr>
        <div class="p-field p-grid">
          <label class="p-col-fixed" style="width:60px">2020</label>
          <div class="p-col">
            <p-inputNumber name="anio1" mode="decimal" [showButtons]="true" [min]="0" class="ui-inputnumber ui-corner-all ui-state-default ui-widget" [(ngModel)]="iniciativa.anio1" [disabled]="disabled"></p-inputNumber>
          </div>
        </div>
        <div class="p-field p-grid">
          <label class="p-col-fixed" style="width:60px">2021</label>
          <div class="p-col">
            <p-inputNumber name="anio2" mode="decimal" [showButtons]="true" [min]="0" class="ui-inputnumber ui-corner-all ui-state-default ui-widget" [(ngModel)]="iniciativa.anio2" [disabled]="disabled"></p-inputNumber>
          </div>
        </div>
        <div class="p-field p-grid">
          <label class="p-col-fixed" style="width:60px">2022</label>
          <div class="p-col">
            <p-inputNumber name="anio3" mode="decimal" [showButtons]="true" [min]="0" class="ui-inputnumber ui-corner-all ui-state-default ui-widget" [(ngModel)]="iniciativa.anio3" [disabled]="disabled"></p-inputNumber>
          </div>
        </div>
        <div class="p-field p-grid">
          <label class="p-col-fixed" style="width:60px">2023</label>
          <div class="p-col">
            <p-inputNumber name="anio4" mode="decimal" [showButtons]="true" [min]="0" class="ui-inputnumber ui-corner-all ui-state-default ui-widget" [(ngModel)]="iniciativa.anio4" [disabled]="disabled"></p-inputNumber>
          </div>
        </div>
        <div class="p-field p-grid">
          <label class="p-col-fixed" style="width:60px">2024</label>
          <div class="p-col">
            <p-inputNumber name="anio5" mode="decimal" [showButtons]="true" [min]="0" class="ui-inputnumber ui-corner-all ui-state-default ui-widget" [(ngModel)]="iniciativa.anio5" [disabled]="disabled"></p-inputNumber>
          </div>
        </div>
      </p-card>
    </div>
    <div class="p-col-11 p-md-11 p-lg-8 ui-fluid">
      <p-card header="Resultado"  styleClass="ui-card-shadow">
        <hr>
        <div class="p-field p-grid">
          <label for="indicador" class="p-col-fixed" style="width:170px">Indicador de impacto:</label>
          <div class="p-col">
            <textarea id="indicador" type="text" rows="5" pInputTextarea class="ui-inputtext ui-corner-all ui-state-default ui-widget" [(ngModel)]="iniciativa.indicador" [disabled]="disabled"></textarea>
          </div>
        </div>
        <div class="p-field p-grid">
          <label for="medio" class="p-col-fixed" style="width:170px">Medio de verificación:</label>
          <div class="p-col">
            <textarea id="medio" type="text" rows="5" pInputTextarea class="ui-inputtext ui-corner-all ui-state-default ui-widget" [(ngModel)]="iniciativa.medio" [disabled]="disabled"></textarea>
          </div>
        </div>
        <div class="p-field p-grid">
          <label for="resultado" class="p-col-fixed" style="width:170px">Resultado:</label>
          <div class="p-col">
            <textarea id="resultado" type="text" rows="5" pInputTextarea class="ui-inputtext ui-corner-all ui-state-default ui-widget" [(ngModel)]="iniciativa.resultado" [disabled]="disabled"></textarea>
          </div>
        </div>
      </p-card>
    </div>
    <div class="p-col-11" style="text-align:left" *ngIf="!disabled">
      <button type="button" pButton label="Guardar" (click)="guardar()"></button>
    </div>
  </div>
</div>

<p-toast position="bottom-center"></p-toast>
<p-confirmDialog></p-confirmDialog>
