<div style="padding: 1rem">
	<div class="p-grid ui-fluid" style="padding:1rem;">
		<div class="p-col-6" style="padding:0;">
			<h1>Tipos de Justificaciones</h1>
		</div>
		<div class="p-col-6 group-right" style="padding:0;">
			<button
			(click)="nuevo()"
			pButton type="button" class="ui-button-rounded ui-button-success"
			style="width: 40px; height: 40px">
				<i class="fa fa-plus-circle"></i>
			</button>
		</div>
	</div>

	<hr>

	<p-confirmDialog></p-confirmDialog>

	<p-dialog [(visible)]="displayModal" modal="true">
	    <p-header>
	        {{modalTitle}}
	    </p-header>
	    	<div class="ui-fluid">
			    <div class="p-field p-grid">
			        <label for="nombre" class="p-col-12">Nombre</label>
			        <div class="p-col-12">
			            <input id="nombre" name="nombre" [(ngModel)]="tipo.nombre" type="text" pInputText/>
			        </div>
			    </div>
			    <div class="p-field p-grid">
			        <label for="estado" class="p-col-12">Estado</label>
			        <div class="p-col-12">
			        	<p-inputSwitch [(ngModel)]="tipo.activo"></p-inputSwitch>
			        </div>
			    </div>
			</div>
	    <p-footer>
	        <button type="button" pButton (click)="guardar()" label="Guardar"></button>
            <button type="button" pButton (click)="cancelar()" label="Cancelar" class="ui-button-secondary"></button>
	    </p-footer>
	</p-dialog>

	<p-toast position="bottom-center"></p-toast>

	<div style="padding: 2rem">
		<p-table 
		[value]="tipos" [columns]="columns"
		[paginator]="true" [rows]="10" [showCurrentPageReport]="true"
		currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} registros"
		>
			<ng-template pTemplate="header">
				<tr>
					<th *ngFor="let col of columns; index as i"
					[pSortableColumn]="col.field"
					>
						{{col.header}}
						<p-sortIcon [field]="col.field" ariaLabel="Activar para ordenar" ariaLabelDesc="Activar para ordenar en orden descendente" ariaLabelAsc="Activar para ordenar en orden ascendente"></p-sortIcon>
					</th>
					<th>Accion</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-tipo>
				<tr>
					<td>{{tipo.nombre}}</td>
					<td>{{tipo.activo ? 'Activo' : 'Inactivo'}}</td>
					<td>
						<button
						(click)="edit(tipo)"
						pButton type="button" class="ui-button-rounded ui-button-info"
						style="width: 40px; height: 40px">
							<i class="fa fa-pencil-square"></i>
						</button>
						<button 
						(click)="delete(tipo)"
						pButton type="button" class="ui-button-rounded ui-button-secondary"
						style="width: 40px; height: 40px; color: #B90B00;">
							<i class="fa fa-trash"></i>
						</button>
					</td>
				</tr>
			</ng-template>
		</p-table>
	</div>
</div>
