h1 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

hr {
  margin-block-start: 0em;
  margin-block-end: 1em;
}

.group-right {
  text-align: right;
}

div a{
  margin-left: 2em;
}

i{
  font-size: 2.5em;
}

.margen {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.ui-dropdown-label-container {
width: 100%;
}
.ui-dropdown.ui-dropdown-clearable .ui-dropdown-label {
text-overflow: ellipsis;
padding-right: 2em !important;
}
.ui-dropdown .ui-dropdown-label {
text-overflow: ellipsis;
padding-right: 1em !important;
}
