<div style="padding: 1rem">
	<div class="p-grid ui-fluid" style="padding:1rem;">
		<div class="p-col-6" style="padding:0;">
			<h1>Fuentes de Financiamiento</h1>
		</div>
		<div class="p-col-6 group-right" style="padding:0;">
			<a (click)="nuevo()" class="layout-config-button" style="color: #008100;">
				<i class="fa fa-plus-circle"></i>
			</a>
		</div>
	</div>

	<hr>

	<p-confirmDialog></p-confirmDialog>

	<p-dialog [(visible)]="displayModal" modal="true">
	    <p-header>
	        {{modalTitle}}
	    </p-header>
	    	<div class="ui-fluid">
			    <div class="p-field p-grid">
			        <label for="nombre" class="p-col-12">Nombre</label>
			        <div class="p-col-12">
			            <input id="nombre" name="nombre" [(ngModel)]="fuente.nombre" type="text" pInputText/>
			        </div>
			    </div>
			    <div class="p-field p-grid">
			        <label for="estado" class="p-col-12">Estado</label>
			        <div class="p-col-12">
			        	<p-inputSwitch [(ngModel)]="fuente.activo"></p-inputSwitch>
			        </div>
			    </div>
			</div>
	    <p-footer>
	        <button type="button" pButton (click)="guardar()" label="Guardar"></button>
            <button type="button" pButton (click)="cancelar()" label="Cancelar" class="ui-button-secondary"></button>
	    </p-footer>
	</p-dialog>

	<p-toast position="bottom-center"></p-toast>

	<div style="padding: 2rem">
		<p-table 
		[value]="fuentes" [columns]="columns"
		[paginator]="true" [rows]="10" [showCurrentPageReport]="true"
		currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} registros"
		>
			<ng-template pTemplate="header">
				<tr>
					<th *ngFor="let col of columns; index as i"
					[pSortableColumn]="col.field"
					>
						{{col.header}}
						<p-sortIcon [field]="col.field" ariaLabel="Activar para ordenar" ariaLabelDesc="Activar para ordenar en orden descendente" ariaLabelAsc="Activar para ordenar en orden ascendente"></p-sortIcon>
					</th>
					<th>Accion</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-fuente>
				<tr>
					<td>{{fuente.nombre}}</td>
					<td>{{fuente.activo ? 'Activo' : 'Inactivo'}}</td>
					<td>
						<a class="layout-config-button" style="color: #008100;">
							<i class="fa fa-pencil-square" (click)="edit(fuente)"></i>
						</a>
						<a class="layout-config-button" style="color: #B90B00;" (click)="delete(fuente)">
							<i class="fa fa-trash"></i>
						</a>
					</td>
				</tr>
			</ng-template>
		</p-table>
	</div>
</div>
