html {
 height:100%
}
body {
 margin:0;
 min-height:100%;
 padding:0;
 overflow-x:hidden;
 overflow-y:auto;
 font-family:Open Sans,Helvetica Neue,sans-serif;
 font-weight:400;
 color:#333;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 font-size:14px
}

.layout-topbar {
 top:64px
}

.layout-sidebar {
 top:140px;
 height:calc(100% - 140px)
}
.layout-content {
 padding-top:140px
}
.ui-toast-top-center,
.ui-toast-top-left,
.ui-toast-top-right {
 top:150px
}

.layout-content {
 margin-left:250px;
 padding-top:64px;
 background-color:#fff
}
.layout-mask {
 z-index:9998;
 width:100%;
 height:100%;
 position:fixed;
 top:0;
 left:0;
 display:none;
 background-color:#4c5254;
 opacity:.7
}
@-webkit-keyframes pulse {
 0% {
  background-color:hsla(0,0%,64.7%,.1)
 }
 50% {
  background-color:hsla(0,0%,64.7%,.3)
 }
 to {
  background-color:hsla(0,0%,64.7%,.1)
 }
}
@keyframes pulse {
 0% {
  background-color:hsla(0,0%,64.7%,.1)
 }
 50% {
  background-color:hsla(0,0%,64.7%,.3)
 }
 to {
  background-color:hsla(0,0%,64.7%,.1)
 }
}
@-webkit-keyframes customSlide {
 0% {
  left:0;
  bottom:-40%
 }
 20% {
  left:20%;
  bottom:-20%
 }
 40% {
  left:40%;
  bottom:0
 }
 60% {
  left:60%;
  bottom:20%
 }
 80% {
  left:80%;
  bottom:40%
 }
 to {
  left:100%;
  bottom:60%
 }
}
@keyframes customSlide {
 0% {
  left:0;
  bottom:-40%
 }
 20% {
  left:20%;
  bottom:-20%
 }
 40% {
  left:40%;
  bottom:0
 }
 60% {
  left:60%;
  bottom:20%
 }
 80% {
  left:80%;
  bottom:40%
 }
 to {
  left:100%;
  bottom:60%
 }
}
@-webkit-keyframes snowSlide {
 0% {
  background-position:0 0
 }
 to {
  background-position:0 400px
 }
}
@keyframes snowSlide {
 0% {
  background-position:0 0
 }
 to {
  background-position:0 400px
 }
}
.ui-tabview-left>.ui-tabview-nav {
 height:150px
}
.col-button {
 width:10%;
 text-align:center
}
.col-icon {
 width:38px;
 text-align:center
}
.whouses {
 background:#fff
}
.whouses img {
 width:100%
}
a {
 text-decoration:none;
 color:#1b82d7
}

.layout-news .layout-news-button i {
 font-size:1.5em
}
.layout-news .layout-news-button:hover {
 background-color:hsla(0,0%,100%,.25)
}
.layout-news .layout-news-close {
 color:#fff;
 position:absolute;
 z-index:2;
 right:28px;
 background-color:rgba(0,0,0,.3);
 border-radius:50%;
 display:-ms-flexbox;
 display:flex;
 -ms-flex-pack:center;
 justify-content:center;
 -ms-flex-align:center;
 align-items:center;
 width:23px;
 height:23px
}
.layout-topbar {
 background-color:#353c46;
 display:block;
 padding:0;
 height:64px;
 box-sizing:border-box;
 position:fixed;
 top:0;
 left:0;
 width:100%;
 z-index:9997;
 box-shadow:0 2px 5px 0 rgba(0,0,0,.3)
}
.layout-topbar .menu-button {
 display:none;
 color:#fff;
 font-size:24px;
 position:absolute;
 left:0;
 top:0;
 width:60px;
 height:60px;
 line-height:58px;
 text-align:center;
 transition:background-color .2s
}
.layout-topbar .menu-button:hover {
 background-color:hsla(0,0%,100%,.2)
}
.layout-topbar .menu-button i {
 line-height:inherit
}
.layout-topbar .logo {
 margin-left:25px;
 margin-top:11px;
 display:inline-block
}
.layout-topbar .logo img {
 height:42px
}
.topbar-menu {
 display:inline-block;
 list-style-type:none;
 float:right;
 margin:15px 60px 0 0;
 padding:0
}
.topbar-menu>li {
 display:inline-block;
 position:relative;
 margin-left:.25rem
}
.topbar-menu>li>a {
 text-decoration:none;
 color:#fff;
 transition:background-color .2s;
 min-width:120px;
 display:block;
 text-align:center;
 font-size:16px;
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none;
 padding:6px;
 border-radius:3px;
 height:34px;
 cursor:pointer
}
.topbar-menu>li>a:hover {
 background-color:hsla(0,0%,100%,.1)
}
.topbar-menu>li>a:focus {
 background-color:hsla(0,0%,100%,.2);
 outline:0 none
}
.topbar-menu>li>ul {
 position:absolute;
 top:40px;
 background-color:#fff;
 box-shadow:0 0 10px 0 rgba(0,0,0,.3);
 overflow:auto;
 margin:0;
 border-radius:3px;
 padding:.5rem;
 right:0;
 max-height:366px;
 min-width:250px
}
.topbar-menu>li>ul>li.topbar-submenu-header {
 padding:.5rem;
 font-weight:700;
 text-align:left;
 background-color:#f8f9fa;
 color:#6c757c;
 margin:.5rem 0;
 border-radius:3px
}
.topbar-menu>li>ul>li.topbar-submenu-header:first-child {
 margin-top:0
}
.topbar-menu>li>ul>li.topbar-submenu-header:last-child {
 margin-bottom:0
}
.topbar-menu>li>ul a {
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none;
 text-decoration:none;
 color:#404c51;
 display:-ms-flexbox;
 display:flex;
 -ms-flex-align:center;
 align-items:center;
 transition:all .5s ease;
 padding:.5rem;
 border-radius:3px;
 cursor:pointer
}
.topbar-menu>li>ul a:hover {
 background-color:#e9ecef;
 cursor:pointer
}
.topbar-menu>li>ul a img {
 width:32px;
 vertical-align:middle
}
.topbar-menu>li>ul a .topbar-submenu-icon {
 font-size:18px;
 margin-right:.25rem
}
.topbar-menu>li>ul a .ui-text {
 line-height:1;
 margin-left:.5rem
}
.topbar-menu>li>ul.topbar-submenu-versions {
 min-width:100%
}
.topbar-menu>li a {
 cursor:pointer
}
.topbar-menu>li a.topbar-submenu-versions-header {
 min-width:40px
}
.topbar-menu>li.topbar-menu-active>ul {
 display:block
}
.layout-sidebar {
 position:fixed;
 left:0;
 top:64px;
 height:calc(100% - 64px);
 background-color:#fff;
 overflow-x:hidden;
 overflow-y:auto;
 width:250px;
 box-shadow:0 0 5px 0 rgba(0,0,0,.3)
}
.layout-sidebar .layout-menu {
 overflow-y:auto
}
.layout-sidebar .layout-menu .router-link-active {
 font-weight:700
}
.layout-sidebar .layout-menu>span {
 width:100%;
 height:50px;
 display:block;
 padding:1rem;
 background-color:#f8f9fa;
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none;
 color:#6c757c;
 font-weight:700;
 outline:none;
 display:-ms-flexbox;
 display:flex;
 -ms-flex-align:center;
 align-items:center
}
.layout-sidebar .layout-menu>span span {
 display:block;
 margin-left:.25rem;
 line-height:1;
 font-size:14px
}
.layout-sidebar .layout-menu>span i {
 font-size:18px
}
.layout-sidebar .layout-menu>div.layout-menu-search {
 padding:1.5em;
 overflow:visible;
 position:relative
}
.layout-sidebar .layout-menu>div {
 padding:12px 15px;
 overflow:hidden;
 background-color:#fff
}
.layout-sidebar .layout-menu>div a {
 width:100%;
 display:block;
 padding:6px;
 cursor:pointer;
 border-radius:3px;
 font-size:14px;
 color:#404c51
}
.layout-sidebar .layout-menu>div a:focus {
 z-index:1;
 outline:0 none;
 transition:box-shadow .3s;
 box-shadow:inset 0 0 0 .2em #8dcdff
}
.layout-sidebar .layout-menu>div a:hover {
 background-color:#e9ecef
}
.layout-sidebar .layout-menu>div ul {
 list-style-type:none;
 margin:0;
 padding:.25rem 0
}
.layout-sidebar .layout-menu>div ul a {
 font-size:12px;
 padding-left:1.5rem
}
.layout-sidebar .layout-menu-search i {
 position:absolute;
 left:1.6em;
 top:1.65em
}
.layout-sidebar .layout-menu-search input {
 text-indent:1.7em
}
.layout-footer {
 color:#707070;
 font-weight:700;
 background-color:#f5f7f8;
 border-top:1px solid #dcdedf
}
.layout-footer .footer-links {
 float:right;
 font-size:24px
}
.layout-footer .footer-links a {
 color:#707070;
 margin-left:16px
}
.content-section {
 display:block;
 padding:30px;
 overflow:hidden
}
.content-section:first-of-type>div>span {
 line-height:1.5em
}
.content-section:first-of-type>div>span:last-child {
 font-size:16px
}
.content-section h2 {
 margin-top:0
}
.content-section.introduction {
 background:#378fe7;
 color:#fff
}
.content-section.introduction a {
 color:#fff;
 font-weight:700
}
.content-section.introduction a:hover {
 text-decoration:underline
}
.content-section.introduction .subitem {
 font-weight:400;
 color:hsla(0,0%,100%,.7)
}
.content-section.introduction+.content-section {
 border-top:0
}

@media screen and (max-width:1024px) {
 .layout-wrapper .ui-toast-top-center,
 .layout-wrapper .ui-toast-top-left,
 .layout-wrapper .ui-toast-top-right {
  top:110px
 }
 .layout-config,
 .layout-sidebar {
  top:164px;
  height:calc(100% - 164px)
 }
 .layout-content {
  padding-top:164px;
  margin-left:250px;
 }
 .ui-toast-top-center,
 .ui-toast-top-left,
 .ui-toast-top-right {
  top:180px
 }
 .topbar-menu>li.topbar-submenu>ul.topbar-submenu-resources,
 .topbar-menu>li.topbar-submenu>ul.topbar-submenu-themes {
  top:164px
 }
 .layout-mask {
  display:block
 }
 .layout-topbar {
  text-align:center;
  height:100px;
  margin-left:250px;
 }
 .layout-topbar .menu-button {
  display:block
 }
 .layout-topbar .logo {
  margin-left:0
 }
 .topbar-menu {
  background-color:#353c46;
  float:none;
  width:100%;
  text-align:center;
  display:-ms-flexbox;
  display:flex;
  margin:6px 0 0
 }
 .topbar-menu>li {
  width:25%;
  margin-left:0;
  display:block
 }
 .topbar-menu>li>a {
  min-width:0;
  width:100%;
  font-size:14px;
  border-radius:0
 }
 .topbar-menu>li>ul {
  width:100vw;
  position:fixed;
  left:0;
  top:100px;
  right:auto
 }
 .layout-sidebar {
  top:0;
  left:-250px;
  transition:left .2s;
  z-index:9999;
  height:100%
 }
 .layout-sidebar.active {
  left:0
 }
 .layout-content {
  margin-left:0;
  padding-top:100px;
  margin-left:250px;
 }
}
