<div style="padding: 1rem">
  <div class="p-grid ui-fluid" style="padding:1rem;">
    <div class="p-col-6" style="padding:0;">
      <h1>Plan Estratégico 2020-2024</h1>
    </div>
  </div>

  <hr>

  <div class="p-grid p-justify-center" style="padding-top:1rem">
    <app-tabmenu-plan-estrategico></app-tabmenu-plan-estrategico>
  </div>

  <div class="p-grid p-justify-center" style="padding:1rem">
  <div class="p-col-11" style="padding:1rem">
    <p-card header="Perspectivas" styleClass="ui-card-shadow">
      <hr>
      <div class="p-grid p-justify-center">
        <div class="p-col-10" style="padding:1rem">
          <div class="p-field p-grid ui-fluid">
            <label class="p-col-fixed" style="width:100px">Codigo:</label>
            <div class="p-col">
              <p-inputNumber name="codigo" mode="decimal" [showButtons]="false" [min]="0" class="ui-inputnumber ui-corner-all ui-state-default ui-widget" [(ngModel)]="persp.codigo"></p-inputNumber>
            </div>
          </div>
          <div class="p-field p-grid ui-fluid">
            <label for="nombre" class="p-col-fixed" style="width:100px">Nombre:</label>
            <div class="p-col">
              <input id="nombre" type="text" pInputText class="ui-inputtext ui-corner-all ui-state-default ui-widget" [(ngModel)]="persp.nombre">
            </div>
          </div>
          <div class="p-field p-grid ui-fluid">
            <label for="descripcion" class="p-col-fixed" style="width:100px">Descripción:</label>
            <div class="p-col">
              <textarea id="descripcion" type="text" rows="5" pInputTextarea class="ui-inputtext ui-corner-all ui-state-default ui-widget" [(ngModel)]="persp.descripcion"></textarea>
            </div>
          </div>
          <div style="text-align:left">
            <button type="button" pButton label="Agregar" (click)="agregar()"></button>
          </div>
        </div>
        <div class="p-col-11">
          <p-table [value]="perspectivas" [autoLayout]="true">
            <ng-template pTemplate="header">
              <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Editar</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-per>
              <tr>
                <td>{{per.codigo}}</td>
                <td>{{per.nombre}}</td>
                <td>{{per.descripcion}}</td>
                <td>
                  <a class="layout-config-button" style="color: #008100;margin-left: 0em;" (click)="editar(perspectivas.indexOf(per))"><i class="fa fa-pencil-square"></i></a>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
      </p-card>
    </div>
  <div class="p-col-11" style="text-align:left">
    <button [routerLink]="['/listaObjetivosEstrategicos']" type="button" pButton label="Guardar"></button>
  </div>
  </div>
</div>

