<div class="layout-menu">
  <div class="p-grid">
    <div class="p-col-12">
      <a class="logo" [routerLink]="['/']">
        <img class="avatar" src="assets/logo1.png">
        <h1>SAI</h1>
      </a>
    </div>
  </div>
  <hr>
  <span>
    <i class="pi pi-home"></i>
    <span>Planificación</span>
  </span>
  <div>
    <a [routerLink]="['/listaPlanesEstrategicos']" routerLinkActive="router-link-active">Plan Quinquenal</a>
    <a [routerLink]="['/listaPlanesAnuales']" routerLinkActive="router-link-active">Plan Anual de Trabajo</a>
  </div>

  <span>
    <i class="pi pi-id-card"></i>
    <span>Seguimiento</span>
  </span>
  <div>
    <a [routerLink]="['/seguimientoActividades']" routerLinkActive="router-link-active">Actividades</a>
    <a [routerLink]="['/segumientoIndicadores']" routerLinkActive="router-link-active">KPI</a>
  </div>

  <span>
    <i class="pi pi-share-alt"></i>
    <span>Reportes</span>
  </span>
  <div>
    <a [routerLink]="['/reportes']" routerLinkActive="router-link-active">Generar Reporte</a>
  </div>

  <span>
    <i class="pi pi-id-card"></i>
    <span>Administración</span>
  </span>
  <div>
    <a [routerLink]="['/unidadRaiz']" routerLinkActive="router-link-active">Unidad Organizativa</a>
    <a [routerLink]="['/seguridad/roles']" routerLinkActive="router-link-active">Roles</a>
    <a [routerLink]="['/listaUsuario']" routerLinkActive="router-link-active">Usuarios</a>
    <a [routerLink]="['/catalogos/unidad-medida/']" routerLinkActive="router-link-active">Unidad de Medida</a>
    <a [routerLink]="['/catalogos/tipo-justificacion/']" routerLinkActive="router-link-active">Justificación</a>
    <a [routerLink]="['/catalogos/fuente-financiamiento/']" routerLinkActive="router-link-active">Fuente de Financiamiento</a>
  </div>

  <hr style="width: 100%">
  <div>
    <a [routerLink]="['/']" routerLinkActive="router-link-active">Mi Usuario</a>
  </div>

</div>
