h1 {
    margin-block-start: 0.2em;
    margin-block-end: 0em;
}

.layout-menu {
 overflow-y:auto;
 height: 100%;
 background-color:#fff;
 overflow-x:hidden;
 box-shadow:0 0 5px 0 rgba(0,0,0,.3)
}
.layout-menu .router-link-active {
 font-weight:700
}
.layout-menu>span {
 width:100%;
 height:50px;
 display:block;
 padding:1rem;
 background-color:#f8f9fa;
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none;
 color:#6c757c;
 font-weight:700;
 outline:none;
 display:-ms-flexbox;
 display:flex;
 -ms-flex-align:center;
 align-items:center
}
.layout-menu>span span {
 display:block;
 margin-left:.25rem;
 line-height:1;
 font-size:14px
}
.layout-menu>span i {
 font-size:18px
}
.layout-menu>div.layout-menu-search {
 padding:1.5em;
 overflow:visible;
 position:relative
}
.layout-menu>div {
 padding:12px 15px;
 overflow:hidden;
 background-color:#fff
}
.layout-menu>div a {
 width:100%;
 display:block;
 padding:6px;
 cursor:pointer;
 border-radius:3px;
 font-size:14px;
 color:#404c51
}
.layout-menu>div a:focus {
 z-index:1;
 outline:0 none;
 transition:box-shadow .3s;
 box-shadow:inset 0 0 0 .2em #8dcdff
}
.layout-menu>div a:hover {
 background-color:#e9ecef
}
.layout-menu>div ul {
 list-style-type:none;
 margin:0;
 padding:.25rem 0
}
.layout-menu>div ul a {
 font-size:12px;
 padding-left:1.5rem
}
.layout-menu-search i {
 position:absolute;
 left:1.6em;
 top:1.65em
}
.layout-menu-search input {
 text-indent:1.7em
}

img.avatar {
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 40px;
    width: 40px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}
