<p-card [header]="usuario.nombre"  styleClass="ui-card" [style]="{height: '100%'}">
  <hr>
  <div class="p-field p-grid margen">
    <label  class="p-col-12">Unidad Organizativa:</label>
    <div class="p-col" style="text-align:right">
      <label class="p-col-12">{{usuario.unidad}}</label>
    </div>
  </div>
  <div class="p-field p-grid margen">
    <label  class="p-col-12">Cargo:</label>
    <div class="p-col" style="text-align:right">
      <label class="p-col-12">{{usuario.cargo}}</label>
    </div>
  </div>
  <div class="p-field p-grid margen">
    <label class="p-col-12">Correo: </label>
    <div class="p-col-12" style="text-align:right">
      <label class="p-col-12 break-words">{{usuario.correo}}</label>
    </div>
  </div>
  <div class="p-field p-grid margen">
    <label class="p-col-12">Estado</label>
    <div class="p-col-12" style="text-align:right">
      <label class="p-col-12">{{usuario.estado}}</label>
    </div>
  </div>
  <div *ngIf="mostrarBoton" class="margen" style="padding:0;">
    <a [routerLink]="['editar', usuario.id]" class="layout-config-button" style="color: #3E59AB;"><i class="fa fa-eye"></i></a>
  </div>
</p-card>
