@import "./assets/css/styles.scss";

@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/nova-light/theme.css';
@import '~primeng/resources/primeng.css';


.background1 .ui-progressbar .ui-progressbar-value {
    background: #B90B00;
  }

  .background2 .ui-progressbar .ui-progressbar-value {
    background: #EBE30B;
  }

  .background3 .ui-progressbar .ui-progressbar-value {
    background: #008100;
  }

  .background4 .ui-progressbar .ui-progressbar-value {
    background: #A1A1A1;
  }

  .layout-config-button{
    cursor: pointer;
  }

  .alignIzquierda{
    text-align: left;
    justify-content: left;
  }
  .crear {
    color: #008100;
  }

  .editar {
    color: #008100;
  }

  .detalle {
    color: #3E59AB;
  }

  .filtrar {
    color: #3E59AB;
  }

  .ui-dropdown-label-container {
  width: 100%;
  }

  .ui-dropdown .ui-dropdown-label {
  text-overflow: ellipsis;
  padding-right: 1em !important;
  }
