<p-toast position="bottom-center" key="tr"></p-toast>

<div style="padding: 1rem">
  <div class="p-grid ui-fluid" style="padding:1rem;">
    <div class="p-col-6" style="padding:0;">
      <h1>Plan 2020 / Iniciativas</h1>
    </div>
    <div class="p-col-6 group-right" style="padding:0;">
      <a class="layout-config-button" style="color: #008100;" (click)="crearDialog()"><i class="fa fa-plus-circle"></i></a>
      <a class="layout-config-button" style="color: #3E59AB;" (click)="filtrarDialog()"><i class="fa fa-search"></i></a>
    </div>
    <p-dialog header="Agregar Iniciativa" [(visible)]="crear" [modal]="true" [baseZIndex]="10000" [style]="{width: '50vw'}" [contentStyle]="{'overflow':'visible'}">
      <div class="p-grid" style="padding-top:1rem;">
        <div class="p-col-12 p-md-12  ui-fluid">
          <div class="p-field p-grid">
            <label for="perspectiva" class="p-col-fixed" style="width:100px">Perspectiva:</label>
            <div class="p-col">
              <p-dropdown inputId="perspectiva" [options]="perspectiva" placeholder="Seleccionar" optionLabel="name"></p-dropdown>
            </div>
          </div>
          <div class="p-field p-grid">
            <label for="objetivo" class="p-col-fixed" style="width:100px">Objetivo:</label>
            <div class="p-col">
              <p-dropdown inputId="objetivo" [options]="objetivo" placeholder="Seleccionar" optionLabel="name"></p-dropdown>
            </div>
          </div>
          <div class="p-field p-grid">
            <label for="iniciativa" class="p-col-fixed" style="width:100px">Iniciativa:</label>
            <div class="p-col">
              <p-dropdown inputId="iniciativa" [options]="iniciativa" placeholder="Seleccionar" optionLabel="name"></p-dropdown>
            </div>
          </div>
        </div>
      </div>
      <p-footer>
        <button type="button" pButton (click)="crear=false" label="Agregar"></button>
        <button type="button" pButton (click)="crear=false" label="Cancelar" class="ui-button-secondary"></button>
      </p-footer>
    </p-dialog>

    <p-dialog header="Filtrar" [(visible)]="filtrar" [modal]="true" [baseZIndex]="10000" [style]="{width: '50vw'}" [contentStyle]="{'overflow':'visible'}">
      <div class="p-grid" style="padding-top:1rem;">
        <div class="p-col-12 p-md-12  ui-fluid">
          <div class="p-field p-grid">
            <label for="perspectiva" class="p-col-fixed" style="width:100px">Perspectiva:</label>
            <div class="p-col">
              <p-dropdown inputId="perspectiva" [options]="perspectiva" placeholder="Todas" optionLabel="name"></p-dropdown>
            </div>
          </div>
          <div class="p-field p-grid">
            <label for="objetivo" class="p-col-fixed" style="width:100px">Objetivo:</label>
            <div class="p-col">
              <p-dropdown inputId="objetivo" [options]="objetivo" placeholder="Todos" optionLabel="name"></p-dropdown>
            </div>
          </div>
          <div class="p-field p-grid">
            <label for="unidadLider" class="p-col-fixed" style="width:100px">Unidad Lider:</label>
            <div class="p-col">
              <p-dropdown inputId="unidadLider" [options]="unidadLider" placeholder="Todas" optionLabel="name"></p-dropdown>
            </div>
          </div>
        </div>
      </div>
      <p-footer>
        <button type="button" pButton (click)="filtrar=false" label="Filtrar"></button>
        <button type="button" pButton (click)="filtrar=false" label="Cancelar" class="ui-button-secondary"></button>
      </p-footer>
    </p-dialog>
  </div>

  <hr>

  <app-sm-plan-anual></app-sm-plan-anual>

  <div style="padding-left:1.5em;">
    <div class="p-col-6" style="padding:0;">
      <h2>1. Ciudadania Satisfecha con Nuestro Servicio</h2>
    </div>
    <hr>
  </div>

  <div class="p-grid" style="padding: 1rem">

    <div class="p-col-12 p-md-6 p-lg-3  ui-fluid" style="height:100%">
      <p-card header="Iniciativa"  styleClass="ui-card" [style]="{height: '100%'}">
        <hr>
        <div class="p-grid margen">
          <label for="iniciativa" class="p-col-12">Iniciativa:</label>
          <p for="iniciativa" class="p-col-12" style="font-weight: bold;">
            Elaborar e implementar  el Plan de transición de la DIGESTYC  en ISE.
          </p>
        </div>
        <div class="p-grid margen">
          <label for="objetivo" class="p-col-12">Objetivo:</label>
          <p for="objetivo" class="p-col-12">
            Realizar las gestiones necesarias para transformar a la DIGESTYC en el
            Instituto  Salvadoreño de Estadística.
          </p>
        </div>
        <div class="p-grid margen">
            <label for="actividades" class="p-col-2">Lider:</label>
            <div class="p-col-10">
              <p for="objetivo" style="text-align:right">
                Dirección y Subdirección General
              </p>
            </div>
        </div>
        <p-footer>
          <a class="layout-config-button" [routerLink]="['/listaIniciativas/editarIniciativa']" style="color: #3E59AB;"><i class="fa fa-eye"></i></a>
          <a class="layout-config-button" (click)="confirm2()" style="color: #B90B00;"><i class="fa fa-trash"></i></a>
        </p-footer>
      </p-card>
    </div>

    <div class="p-col-12 p-md-6 p-lg-3 p-align-stretch vertical-container">
      <p-card header="Iniciativa"  styleClass="ui-card" [style]="{height: '100%'}">
        <hr>
        <div class="p-grid margen">
          <label for="iniciativa" class="p-col-12">Iniciativa:</label>
          <p for="iniciativa" class="p-col-12" style="font-weight: bold;">
            Elaborar e implementar el calendario de publicaciones de la producción estadísticas.
          </p>
        </div>
        <div class="p-grid margen">
          <label for="objetivo" class="p-col-12">Objetivo:</label>
          <p for="objetivo" class="p-col-12">
            Elevar el alcance en el uso de la información estadística que generamos.
          </p>
        </div>
        <div class="p-grid margen">
            <label for="actividades" class="p-col-2">Lider:</label>
            <div class="p-col-10">
              <p for="objetivo" style="text-align:right">
                Unidad de comunicaciones
              </p>
            </div>
        </div>
        <p-footer styleClass="fondo">
          <a class="layout-config-button" style="color: #3E59AB;"><i class="fa fa-eye"></i></a>
          <a class="layout-config-button" style="color: #B90B00;"><i class="fa fa-trash"></i></a>
        </p-footer>
      </p-card>
    </div>

    <div class="p-col-12 p-md-6 p-lg-3  ui-fluid" >
      <p-card header="Iniciativa"  styleClass="ui-card" [style]="{height: '100%'}">
        <hr>
        <div class="p-grid margen">
          <label for="iniciativa" class="p-col-12">Iniciativa:</label>
          <p for="iniciativa" class="p-col-12" style="font-weight: bold;">
            Utilizar la plataforma informática para diseminar la información estadística.
          </p>
        </div>
        <div class="p-grid margen">
          <label for="objetivo" class="p-col-12">Objetivo:</label>
          <p for="objetivo" class="p-col-12">
            Elevar el alcance en el uso de la información estadística que generamos.
          </p>
        </div>
        <div class="p-grid margen">
            <label for="actividades" class="p-col-2">Lider:</label>
            <div class="p-col-10">
              <p for="objetivo" style="text-align:right">
                Gerencia de Tecnología de la Información
              </p>
            </div>
        </div>
        <p-footer>
          <a class="layout-config-button" style="color: #3E59AB;"><i class="fa fa-eye"></i></a>
          <a class="layout-config-button" style="color: #B90B00;"><i class="fa fa-trash"></i></a>
        </p-footer>
      </p-card>
    </div>

  </div>
  <div style="padding-left:1.5em;">
    <div class="p-col-6" style="padding:0;">
      <h2>2. Eficacia de los Procesos Organizacionales</h2>
    </div>
    <hr>
  </div>

  <div class="p-grid" style="padding: 1rem">

    <div class="p-col-12 p-md-6 p-lg-3  ui-fluid" >
      <p-card header="Iniciativa"  styleClass="ui-card" [style]="{height: '100%'}">
        <hr>
        <div class="p-grid margen">
          <label for="iniciativa" class="p-col-12">Iniciativa:</label>
          <p for="iniciativa" class="p-col-12" style="font-weight: bold;">
            Elaborar e implementar  el Plan de transición de la DIGESTYC  en ISE.
          </p>
        </div>
        <div class="p-grid margen">
          <label for="objetivo" class="p-col-12">Objetivo:</label>
          <p for="objetivo" class="p-col-12">
            Realizar las gestiones necesarias para transformar a la DIGESTYC en el
            Instituto  Salvadoreño de Estadística.
          </p>
        </div>
        <div class="p-grid margen">
            <label for="actividades" class="p-col-2">Lider:</label>
            <div class="p-col-10">
              <p for="objetivo" style="text-align:right">
                Dirección y Subdirección General
              </p>
            </div>
        </div>
        <p-footer>
          <a class="layout-config-button" style="color: #3E59AB;"><i class="fa fa-eye"></i></a>
          <a class="layout-config-button" style="color: #B90B00;"><i class="fa fa-trash"></i></a>
        </p-footer>
      </p-card>
    </div>

    <div class="p-col-12 p-md-6 p-lg-3  ui-fluid" >
      <p-card header="Iniciativa"  styleClass="ui-card" [style]="{height: '100%'}">
        <hr>
        <div class="p-grid margen">
          <label for="iniciativa" class="p-col-12">Iniciativa:</label>
          <p for="iniciativa" class="p-col-12" style="font-weight: bold;">
            Elaborar e implementar  el Plan de transición de la DIGESTYC  en ISE.
          </p>
        </div>
        <div class="p-grid margen">
          <label for="objetivo" class="p-col-12">Objetivo:</label>
          <p for="objetivo" class="p-col-12">
            Realizar las gestiones necesarias para transformar a la DIGESTYC en el
            Instituto  Salvadoreño de Estadística.
          </p>
        </div>
        <div class="p-grid margen">
            <label for="actividades" class="p-col-2">Lider:</label>
            <div class="p-col-10">
              <p for="objetivo" style="text-align:right">
                Dirección y Subdirección General
              </p>
            </div>
        </div>
        <p-footer>
          <a class="layout-config-button" style="color: #3E59AB;"><i class="fa fa-eye"></i></a>
          <a class="layout-config-button" style="color: #B90B00;"><i class="fa fa-trash"></i></a>
        </p-footer>
      </p-card>
    </div>

    <div class="p-col-12 p-md-6 p-lg-3  ui-fluid" >
      <p-card header="Iniciativa"  styleClass="ui-card" [style]="{height: '100%'}">
        <hr>
        <div class="p-grid margen">
          <label for="iniciativa" class="p-col-12">Iniciativa:</label>
          <p for="iniciativa" class="p-col-12" style="font-weight: bold;">
            Elaborar e implementar  el Plan de transición de la DIGESTYC  en ISE.
          </p>
        </div>
        <div class="p-grid margen">
          <label for="objetivo" class="p-col-12">Objetivo:</label>
          <p for="objetivo" class="p-col-12">
            Realizar las gestiones necesarias para transformar a la DIGESTYC en el
            Instituto  Salvadoreño de Estadística.
          </p>
        </div>
        <div class="p-grid margen">
            <label for="actividades" class="p-col-2">Lider:</label>
            <div class="p-col-10">
              <p for="objetivo" style="text-align:right">
                Dirección y Subdirección General
              </p>
            </div>
        </div>
        <p-footer>
          <a class="layout-config-button" style="color: #3E59AB;"><i class="fa fa-eye"></i></a>
          <a class="layout-config-button" style="color: #B90B00;"><i class="fa fa-trash"></i></a>
        </p-footer>
      </p-card>
    </div>

  </div>

  <div style="padding-left:1.5em;">
    <div class="p-col-6" style="padding:0;">
      <h2>3. Desarrollo y Mordenización Organizacional y del Talento Humano</h2>
    </div>
    <hr>
  </div>

  <div class="p-grid" style="padding: 1rem">

    <div class="p-col-12 p-md-6 p-lg-3  ui-fluid" >
      <p-card header="Iniciativa"  styleClass="ui-card" [style]="{height: '100%'}">
        <hr>
        <div class="p-grid margen">
          <label for="iniciativa" class="p-col-12">Iniciativa:</label>
          <p for="iniciativa" class="p-col-12" style="font-weight: bold;">
            Elaborar e implementar  el Plan de transición de la DIGESTYC  en ISE.
          </p>
        </div>
        <div class="p-grid margen">
          <label for="objetivo" class="p-col-12">Objetivo:</label>
          <p for="objetivo" class="p-col-12">
            Realizar las gestiones necesarias para transformar a la DIGESTYC en el
            Instituto  Salvadoreño de Estadística.
          </p>
        </div>
        <div class="p-grid margen">
            <label for="actividades" class="p-col-2">Lider:</label>
            <div class="p-col-10">
              <p for="objetivo" style="text-align:right">
                Dirección y Subdirección General
              </p>
            </div>
        </div>
        <p-footer>
          <a class="layout-config-button" style="color: #3E59AB;"><i class="fa fa-eye"></i></a>
          <a class="layout-config-button" style="color: #B90B00;"><i class="fa fa-trash"></i></a>
        </p-footer>
      </p-card>
    </div>

    <div class="p-col-12 p-md-6 p-lg-3  ui-fluid" >
      <p-card header="Iniciativa"  styleClass="ui-card" [style]="{height: '100%'}">
        <hr>
        <div class="p-grid margen">
          <label for="iniciativa" class="p-col-12">Iniciativa:</label>
          <p for="iniciativa" class="p-col-12" style="font-weight: bold;">
            Elaborar e implementar  el Plan de transición de la DIGESTYC  en ISE.
          </p>
        </div>
        <div class="p-grid margen">
          <label for="objetivo" class="p-col-12">Objetivo:</label>
          <p for="objetivo" class="p-col-12">
            Realizar las gestiones necesarias para transformar a la DIGESTYC en el
            Instituto  Salvadoreño de Estadística.
          </p>
        </div>
        <div class="p-grid margen">
            <label for="actividades" class="p-col-2">Lider:</label>
            <div class="p-col-10">
              <p for="objetivo" style="text-align:right">
                Dirección y Subdirección General
              </p>
            </div>
        </div>
        <p-footer>
          <a class="layout-config-button" style="color: #3E59AB;"><i class="fa fa-eye"></i></a>
          <a class="layout-config-button" style="color: #B90B00;"><i class="fa fa-trash"></i></a>
        </p-footer>
      </p-card>
    </div>

    <div class="p-col-12 p-md-6 p-lg-3  ui-fluid" >
      <p-card header="Iniciativa"  styleClass="ui-card" [style]="{height: '100%'}">
        <hr>
        <div class="p-grid margen">
          <label for="iniciativa" class="p-col-12">Iniciativa:</label>
          <p for="iniciativa" class="p-col-12" style="font-weight: bold;">
            Elaborar e implementar  el Plan de transición de la DIGESTYC  en ISE.
          </p>
        </div>
        <div class="p-grid margen">
          <label for="objetivo" class="p-col-12">Objetivo:</label>
          <p for="objetivo" class="p-col-12">
            Realizar las gestiones necesarias para transformar a la DIGESTYC en el
            Instituto  Salvadoreño de Estadística.
          </p>
        </div>
        <div class="p-grid margen">
            <label for="actividades" class="p-col-2">Lider:</label>
            <div class="p-col-10">
              <p for="objetivo" style="text-align:right">
                Dirección y Subdirección General
              </p>
            </div>
        </div>
        <p-footer>
          <a class="layout-config-button" style="color: #3E59AB;"><i class="fa fa-eye"></i></a>
          <a class="layout-config-button" style="color: #B90B00;"><i class="fa fa-trash"></i></a>
        </p-footer>
      </p-card>
    </div>

  </div>

  <div style="padding-left:1.5em;">
    <div class="p-col-6" style="padding:0;">
      <h2>4. Eficacia en la Movilización y Manejo de los Recursos</h2>
    </div>
    <hr>
  </div>

  <div class="p-grid" style="padding: 1rem">

    <div class="p-col-12 p-md-6 p-lg-3  ui-fluid" >
      <p-card header="Iniciativa"  styleClass="ui-card" [style]="{height: '100%'}">
        <hr>
        <div class="p-grid margen">
          <label for="iniciativa" class="p-col-12">Iniciativa:</label>
          <p for="iniciativa" class="p-col-12" style="font-weight: bold;">
            Elaborar e implementar  el Plan de transición de la DIGESTYC  en ISE.
          </p>
        </div>
        <div class="p-grid margen">
          <label for="objetivo" class="p-col-12">Objetivo:</label>
          <p for="objetivo" class="p-col-12">
            Realizar las gestiones necesarias para transformar a la DIGESTYC en el
            Instituto  Salvadoreño de Estadística.
          </p>
        </div>
        <div class="p-grid margen">
            <label for="actividades" class="p-col-2">Lider:</label>
            <div class="p-col-10">
              <p for="objetivo" style="text-align:right">
                Dirección y Subdirección General
              </p>
            </div>
        </div>
        <p-footer>
          <a class="layout-config-button" style="color: #3E59AB;"><i class="fa fa-eye"></i></a>
          <a class="layout-config-button" style="color: #B90B00;"><i class="fa fa-trash"></i></a>
        </p-footer>
      </p-card>
    </div>

    <div class="p-col-12 p-md-6 p-lg-3  ui-fluid" >
      <p-card header="Iniciativa"  styleClass="ui-card" [style]="{height: '100%'}">
        <hr>
        <div class="p-grid margen">
          <label for="iniciativa" class="p-col-12">Iniciativa:</label>
          <p for="iniciativa" class="p-col-12" style="font-weight: bold;">
            Elaborar e implementar  el Plan de transición de la DIGESTYC  en ISE.
          </p>
        </div>
        <div class="p-grid margen">
          <label for="objetivo" class="p-col-12">Objetivo:</label>
          <p for="objetivo" class="p-col-12">
            Realizar las gestiones necesarias para transformar a la DIGESTYC en el
            Instituto  Salvadoreño de Estadística.
          </p>
        </div>
        <div class="p-grid margen">
            <label for="actividades" class="p-col-2">Lider:</label>
            <div class="p-col-10">
              <p for="objetivo" style="text-align:right">
                Dirección y Subdirección General
              </p>
            </div>
        </div>
        <p-footer>
          <a class="layout-config-button" style="color: #3E59AB;"><i class="fa fa-eye"></i></a>
          <a class="layout-config-button" style="color: #B90B00;"><i class="fa fa-trash"></i></a>
        </p-footer>
      </p-card>
    </div>

    <div class="p-col-12 p-md-6 p-lg-3  ui-fluid" >
      <p-card header="Iniciativa"  styleClass="ui-card" [style]="{height: '100%'}">
        <hr>
        <div class="p-grid margen">
          <label for="iniciativa" class="p-col-12">Iniciativa:</label>
          <p for="iniciativa" class="p-col-12" style="font-weight: bold;">
            Elaborar e implementar  el Plan de transición de la DIGESTYC  en ISE.
          </p>
        </div>
        <div class="p-grid margen">
          <label for="objetivo" class="p-col-12">Objetivo:</label>
          <p for="objetivo" class="p-col-12">
            Realizar las gestiones necesarias para transformar a la DIGESTYC en el
            Instituto  Salvadoreño de Estadística.
          </p>
        </div>
        <div class="p-grid margen">
            <label for="actividades" class="p-col-2">Lider:</label>
            <div class="p-col-10">
              <p for="objetivo" style="text-align:right">
                Dirección y Subdirección General
              </p>
            </div>
        </div>
        <p-footer>
          <a class="layout-config-button" style="color: #3E59AB;"><i class="fa fa-eye"></i></a>
          <a class="layout-config-button" style="color: #B90B00;"><i class="fa fa-trash"></i></a>
        </p-footer>
      </p-card>
    </div>

  </div>

  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

  <p-dialog header="¿Eliminar?" [(visible)]="eliminar" [modal]="true" [baseZIndex]="10000" [style]="{width: '50vw'}">
    <div class="p-grid" style="padding-top:1rem;">
      <div class="p-col-12 p-md-12  ui-fluid" style="text-align:center;">
        <i class="fa fa-exclamation-circle"></i>
      </div>
      <div class="p-col-12 p-md-12  ui-fluid" style="padding:1.5rem; text-align:center;">
        <p>
          Está a punto de eliminar la iniciativa
        </p>
        <p style="padding-top:1rem; font-weight: bold;">
          "Elaborar e implementar el Plan de transición de la DIGESTYC es ISE."
        </p>
        <p style="padding-top:1rem;">
          Del Plan Anual <span style="font-weight: bold;">2020</span>
        </p>
      </div>
    </div>
    <p-footer>
      <button type="button" pButton (click)="eliminar=false" label="Eliminar" class="ui-button-danger"></button>
      <button type="button" pButton (click)="eliminar=false" label="Cancelar" class="ui-button-secondary"></button>
    </p-footer>
  </p-dialog>

</div>
